    body {
          background-color: darkgrey;
        }
        * {
          color: white;
          text-align: center;
          font-family: Papyrus;
          font-size: 10;
        }
    .myDiv {
          border-radius: 25px;
          padding: 20px;
          border: 5px outset green;
				  background-color: darkblue;
				  text-align: center;
         }
